.cssload-squeeze{
  position:relative;
  padding: 0;
  margin: 0;
}
  
.cssload-squeeze, .cssload-squeeze * {
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.cssload-squeeze span {
  display: inline-block;
  margin-left: 5px;
  height: 6px;
  width: 6px;
  background: #8a8989;
  border-radius: 0px;
}

.cssload-squeeze span:nth-child(1) {
  animation: cssload-rotateX 2.3s 0.12s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
    -o-animation: cssload-rotateX 2.3s 0.12s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
    -ms-animation: cssload-rotateX 2.3s 0.12s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
    -webkit-animation: cssload-rotateX 2.3s 0.12s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
    -moz-animation: cssload-rotateX 2.3s 0.12s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
}
.cssload-squeeze span:nth-child(2) {
  animation: cssload-rotateX 2.3s 0.23s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
    -o-animation: cssload-rotateX 2.3s 0.23s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
    -ms-animation: cssload-rotateX 2.3s 0.23s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
    -webkit-animation: cssload-rotateX 2.3s 0.23s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
    -moz-animation: cssload-rotateX 2.3s 0.23s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
}
.cssload-squeeze span:nth-child(3) {
  animation: cssload-rotateX 2.3s 0.35s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
    -o-animation: cssload-rotateX 2.3s 0.35s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
    -ms-animation: cssload-rotateX 2.3s 0.35s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
    -webkit-animation: cssload-rotateX 2.3s 0.35s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
    -moz-animation: cssload-rotateX 2.3s 0.35s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
}
.cssload-squeeze span:nth-child(4) {
  animation: cssload-rotateX 2.3s 0.46s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
    -o-animation: cssload-rotateX 2.3s 0.46s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
    -ms-animation: cssload-rotateX 2.3s 0.46s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
    -webkit-animation: cssload-rotateX 2.3s 0.46s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
    -moz-animation: cssload-rotateX 2.3s 0.46s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
}
.cssload-squeeze span:nth-child(5) {
  animation: cssload-rotateX 2.3s 0.58s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
    -o-animation: cssload-rotateX 2.3s 0.58s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
    -ms-animation: cssload-rotateX 2.3s 0.58s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
    -webkit-animation: cssload-rotateX 2.3s 0.58s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
    -moz-animation: cssload-rotateX 2.3s 0.58s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
}
.cssload-squeeze span:nth-child(6) {
  animation: cssload-rotateX 2.3s 0.69s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
    -o-animation: cssload-rotateX 2.3s 0.69s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
    -ms-animation: cssload-rotateX 2.3s 0.69s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
    -webkit-animation: cssload-rotateX 2.3s 0.69s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
    -moz-animation: cssload-rotateX 2.3s 0.69s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
}
.cssload-squeeze span:nth-child(7) {
  animation: cssload-rotateX 2.3s 0.80s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
    -o-animation: cssload-rotateX 2.3s 0.81s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
    -ms-animation: cssload-rotateX 2.3s 0.81s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
    -webkit-animation: cssload-rotateX 2.3s 0.81s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
    -moz-animation: cssload-rotateX 2.3s 0.81s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
}
.cssload-squeeze span:nth-child(8) {
  animation: cssload-rotateX 2.3s 0.91s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
    -o-animation: cssload-rotateX 2.3s 0.92s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
    -ms-animation: cssload-rotateX 2.3s 0.92s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
    -webkit-animation: cssload-rotateX 2.3s 0.92s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
    -moz-animation: cssload-rotateX 2.3s 0.92s infinite cubic-bezier(0.65, 0.03, 0.735, 0.045);
}


@keyframes cssload-rotateX {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(90deg) scale(0.5, 0.5);
    background: #dfdfdf;
  }
  100% {
    transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
}

@-o-keyframes cssload-rotateX {
  0% {
    -o-transform: rotateX(0deg);
  }
  50% {
    -o-transform: rotateX(90deg) scale(0.5, 0.5);
    background: #dfdfdf;
  }
  100% {
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
}

@-ms-keyframes cssload-rotateX {
  0% {
    -ms-transform: rotateX(0deg);
  }
  50% {
    -ms-transform: rotateX(90deg) scale(0.5, 0.5);
    background: #dfdfdf;
  }
  100% {
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
}

@-webkit-keyframes cssload-rotateX {
  0% {
    -webkit-transform: rotateX(0deg);
  }
  50% {
    -webkit-transform: rotateX(90deg) scale(0.5, 0.5);
    background: #dfdfdf;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
}

@-moz-keyframes cssload-rotateX {
  0% {
    -moz-transform: rotateX(0deg);
  }
  50% {
    -moz-transform: rotateX(90deg) scale(0.5, 0.5);
    background: #dfdfdf;
  }
  100% {
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
}